---
import Card from '../components/Card.astro'
import Layout from '../Layout/Layout.astro'

import * as post1 from '../pages/projects/Panorama_Office_I_y_II.md';
import * as post2 from '../pages/projects/Parque_Solar_Fotovoltaico.md';
import * as post3 from '../pages/projects/Pavimentos.md';
import * as post4 from '../pages/projects/Edificio_de_Oficinas_Polo_Oeste.md';
import Project from '../components/Project.astro';
const featuredPosts = [post1, post2, post3,post4]
console.log(featuredPosts)
---
<Layout title='DSI Constructora'>
    <section id="nosotros">
      <div id="frontpage" class="bg-image bg-no-repeat"
     style=`background-image: url('../../assets/Front-page/1.webp'); background-size: cover; height: 100vh;`>

 
     <div class="text-white text-center pt-60">
      <h1 id="title" class="text-4xl font-bold text-white" style="text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8);">Somos Una Empresa Constructora</h1>
      <p id="subtitle" class="text-xl mt-4" style="text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);">Especializada en trabajos topográficos y la construcción de grandes estructuras</p>
    </div>
  
    </section>
    <section class="bg-white" id="destacados">
      <h2 class=" text-black text-4xl font-semibold block pt-10 text-center">Proyectos destacados:</h2>
      <div class="project-container flex flex-wrap justify-center mx-auto w-9/12 ">
        {featuredPosts.map((post) => (
          <Project
            url={post.url}
            title={post.frontmatter.title}
            ubication={post.frontmatter.ubicacion}
            image={post.frontmatter.imagenes[0]}
            name={post.frontmatter.name}
          />
        ))}
      </div>
    </section>
    
    <section id="servicios" class="h-full pt-0">
      
        <div id="servicios-container" class="mt-4 h-full bg-white text-black p-8 mx-2 border-b-4 border-black pt-0">
            <h2 class="text-3xl font-bold text-black">Nuestros Servicios</h2>
            <p class="text-lg mt-4">Somos una empresa especializada en construcción e infraestructuras, con un equipo capacitado y maquinaria propia para garantizar resultados de calidad.<br> Especializados en:</p>
            <Card title="Obras de Medio Ambiente:" 
            image="../../assets/medio-ambiente.svg" 
            services={["Tratamiento eficiente de residuos sólidos mediante rellenos sanitarios, reduciendo impactos ambientales y riesgos para la salud pública.", 
            "Relleno Sanitario: Disposición final de residuos utilizando avanzadas técnicas de relleno sanitario, que incluyen la colocación de láminas protectoras para preservar las napas subterráneas y medidas para evitar la contaminación.", ]}/>
            
            <Card title="Infraestructura para Plantas de Tratamiento:" 
            image="../../assets/pipe.svg" 
            services={["Construcción de bases para cavas de bombeo y otros elementos necesarios para el tratamiento de efluentes y líquidos lixiviados."]}/>

            <Card title="TRABAJOS TOPOGRÁFICOS" 
            image="../../assets/topo.svg" 
            services={["Especialización en movimientos de suelo para preparar terrenos destinados a rutas, caminos, asfalto u hormigón, con enfoque particular en obras civiles.","Relevamientos plani-altimétricos.", "Estudio de Cuencas Hídricas.", "Cálculo y Ejecución de Mov. De Suelo.", "Acondicionamiento de Suelos para Grandes Estructuras."]}/>
           
            <Card  title="CONSTRUCCIÓN DE GRANDES ESTRUCTURAS" 
            image="../../assets/grua.svg" services={["Realización de entoscados, bases para tanques industriales, calles, veredas, cordones, zanjeos para acueductos, playones y playas de estacionamiento. Ofrecemos también servicios completos de alumbrado público.","Fundaciones de Hormigón Armado.", "Estructuras Metálicas y de Hormigón.", "Mampostería, cerramientos.", "Construcción en seco.", "Pintura y revestimientos.", "Instalaciones Sanitarias, Eléctricas, Redes de datos, Refrigeración, detección y Extinción de Incendios."]} />
            
            <br>
            <p><strong>Nuestro compromiso es llevar a cabo cada proyecto con eficiencia y excelencia, respaldados por una sólida trayectoria.
            </strong></p>
          </div>

    </section>


    <section id="contacto" class="flex flex-col lg:flex-row justify-center items-center p-4">
      <div id="info" class="lg:mr-10 my-2">
          <h2 class="text-3xl font-bold text-black">CONTACTO</h2>
          <div class="mt-4">
            <p class="mb-2">Martín de Gainza 801</p>
            <p class="mb-2">Edificio Panorama Offices 2</p>
            <p class="mb-2">Unidad Funcional 94, Piso 4to</p>
            <p class="mb-2">Parque Industrial Buen Ayre, Moreno</p>
          </div>
          <div class="mt-4">
            <p class="mb-2"><strong>EMAIL:</strong> info@dsiconstructora.com</p>
            <p class="mb-2"><strong>TELÉFONO:</strong> 11-53078516</p>
          </div>
          <div class="mt-4">
            <h3 class="text-xl font-bold text-black">SÍGUENOS</h3>
            <div class="mt-2 flex">
                <a href="https://www.instagram.com/dsiconstructora/" class="h-14 w-14 text-blue-500 mx-2.5 hover:underline inline">
                  <img src="../../assets/iga.svg" alt="Instagram">
                </a>
                <a href="https://twitter.com/dsiconstructora" class="h-14 w-14 text-blue-500 mx-2.5 hover:underline inline">
                  <img src="../../assets/tw.svg" alt="Twitter">
                </a>
                <a href="https://www.linkedin.com/company/dsi-constructora-s-r-l/about/" class="h-14 w-14 text-blue-500 mx-2.5 hover:underline inline">
                  <img src="../../assets/linkedin.svg" alt="LinkedIn">
                </a>
            </div>
          </div>
      </div>

        <!-- <GoogleMap client:load/> -->
        <div class="map-container">
          <a aria-label="Donde nos encontramos" href="https://www.google.com.ar/maps/place/DSI+Constructora/@-34.6202341,-58.7269514,17z/data=!3m1!4b1!4m6!3m5!1s0x95bcbe3c98e55af5:0x86a176d86e15454b!8m2!3d-34.6202385!4d-58.7243765!16s%2Fg%2F11f4qrwkcz?entry=ttu">
            <img id="map" class="draggable" src="../../assets/map.webp" alt="map"/>
            <img id="marker" class="draggable" src="../../assets/w-pin.png" alt="marker"/>
            
          </a>
        </div>
    </section>

    
</Layout>

<style is:global>
.map-container {
  position: relative;
  height: 80%;
  width: 50vw; /* Ancho del 100% */

  @media screen and (max-width: 1020px) {
    width: 90vw;
  }
}

#map-wrapper {
  position: relative;
  height: 100%; /* Ajustar el alto al 100% del contenedor */
  width: 100%; /* Ajustar el ancho al 100% del contenedor */
}

#map {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Evitar que la imagen se estire */
  border: black 1px solid;
}

#marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transform-origin: 50% 100%;
  animation: moveUpDown 0.5s infinite alternate ease-in-out;
  cursor: grab;
}

.draggable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
  #map-container, #map-wrapper {
    height: 100vh; /* 100% de la altura de la ventana en dispositivos móviles */
  }
} 


html{
  scroll-behavior: smooth;
}
#contacto{
height: 70vh;
}
#frontpage{
  background-position: center;
}
@media screen and (max-width: 1020px) {
  #contacto{
height: 100vh;
}

  }

#servicios-container{
  padding: 100px;
  
  padding-top: 20px;
  padding-bottom: 40px;
  padding-top: 0px;
}

@media screen and (max-width: 600px) {
  #contacto,#servicios-container{
    padding: 0px;
}
#servicios-container{
  padding: 16px;
  margin-top: 20px;
}
#frontpage{
  background-position-x: 25%;
}
.project-container{
    width: 100%;
    margin: 0;
  }

  }

#title, #subtitle{
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}


#subtitle{
  font-size: 26px;
}
body{
	background-color: white;
}
</style>