---
import Layout from '../Layout/Layout.astro';
import Project from '../components/Project.astro'

const allPosts = await Astro.glob("../pages/projects/*.md");
---

<Layout title='DSI Constructora'>
    <div class="flex flex-wrap justify-around">
        {allPosts.map((post) => <Project
        url={post.url}
        title={post.frontmatter.title}
        ubicacion={post.frontmatter.ubicacion}
        image={post.frontmatter.imagenes}
        name={post.frontmatter.name}/>)}
    </div>
</Layout>


