---
import Layout from '../Layout/Layout.astro';
import Project from '../components/Project.astro';

const allPosts = await Astro.glob("../pages/projects/*.md");

// Ordenar los proyectos según el atributo 'order'
const sortedPosts = allPosts.sort((a, b) => a.frontmatter.order - b.frontmatter.order);

const currentPath = Astro.url.pathname;
const currentProject = sortedPosts.find(post => post.url === currentPath);

const imagenes = currentProject?.frontmatter.imagenes;
const project = currentProject;
const name = currentProject?.frontmatter.name;
const ProjectTitle = currentProject?.frontmatter.title;
console.log(sortedPosts)
---
<Layout title='DSI Constructora'>
    <div class="flex flex-wrap justify-around pt-8">
        {sortedPosts.map((post) => (
            <Project
                url={post.url}
                title={post.frontmatter.title}
                ubication={post.frontmatter.ubicacion}
                image={post.frontmatter.imagenes[0]}
                name={post.frontmatter.name}
            />
        ))}
    </div>
</Layout>
<style>
    body{
        background-color: rgb(241 245 249);
    }
</style>