---
const { url, title, description, image, name} = Astro.props
---




<a class="block outline-none" href={url}>
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src=`../../projects/${name}/${image}` transition:name={name};>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{title}</div>
        <p class="text-gray-700 text-base">
          {description}
        </p>
      </div>
  </div>
</a>