---
const { url, title, description, image, name} = Astro.props
---




<a class="block outline-none  mb-10 " href={url}>
  <div class="max-w-sm rounded overflow-hidden shadow-lg border-r border-b border-l border-t border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
    <div class="px-6 py-4 bg-slate-200 ">
      <div class="font-bold text-2xl">{title}</div>
      <p class="text-gray-700 text-base">
        {description}
      </p>
    </div>  
    <img class="w-full rounded-none border-b  border-t border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal" src=`../../projects/${name}/${image}` transition:name={name};>
      
  </div>
</a>