---
const { url, title, ubication, image, name} = Astro.props
console.log(url)
---




<a id="card" class="block outline-none m-6" href={url}>
  <div class="max-w-sm overflow-hidden shadow-lg border border-gray-400 bg-white flex flex-col justify-between leading-normal rounded-2xl mb-4">   
    <div id="title-container" class="px-6 py-4 my-auto bg-white">
      <h1 class="font-bold text-2xl text-black ">{title}</h1> 
      <p class="text-gray-700 text-base ">{ubication}</p>
    </div>  
    <img id="image" class="w-full overflow-hidden rounded-none border-b border-t border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal" src={`../../projects/${name}/${image}`} transition:name={name} />
  </div>
</a>

<style>
#card {
  height: auto;
  transition: transform 0.3s ease-in-out; 
}

#title-container {
  height: 106px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card:hover {
  transform: scale(1.02); 
}

#image {
  height: 320px;
  width: auto;
  object-fit: fill;
}
</style>