---
const {project} = Astro.props
---

<div class="relative " transition:animate="none">
    <img id="miImagen" data-image src=`../../public/projects/${project.frontmatter.name}/${project.frontmatter.imagenes[0]}`/>
    <button data-Anterior><img class="h-10 w-6 absolute inset-y-0 w-16 top-1/4 " src="../../public/assets/arrow.png"/></button>
    <button data-Siguiente><img class="h-10 w-6 absolute inset-y-0 right-0 w-16 top-1/4  rotate-180" src="../../public/assets/arrow.png"/></button>
</div>

<style>
</style>

<script>
    const Siguiente = document.querySelectorAll('[data-Siguiente]');
    const Anterior = document.querySelectorAll('[data-Anterior]');
    const imagen = document.querySelectorAll('[data-image]')[0] as HTMLImageElement;

    // Obtener la URL actual de la imagen
    const imagenUrl = imagen?.src;

    // Extraer el número de la URL (asumiendo que es el último número en la ruta)
    const matches = imagenUrl.match(/(\d+)\.jpg$/);
    let number = matches ? parseInt(matches[1], 10) : 1;

    Siguiente.forEach((button) => {
        button.addEventListener('click', () => {
            number = (number % 3) + 1;
            console.log(number);
            imagen.src = imagenUrl.replace(/\d+\.jpg$/, `${number}.jpg`);
        });
    });

    Anterior.forEach((button) => {
        button.addEventListener('click', () => {
            number = (number - 2 + 4) % 4 + 1;
            console.log(number);
            imagen.src = imagenUrl.replace(/\d+\.jpg$/, `${number}.jpg`);
        });
    });
</script>