---
import Navigation from '../components/Navigation.astro'
import { ViewTransitions } from 'astro:transitions';

interface Props {
    title: string;
}
const { title } = Astro.props;
const allPosts = await Astro.glob("../pages/projects/*.md");
const currentPath = Astro.url.pathname;



const currentProject = allPosts.find(post => post.url === currentPath);

const imagenes = currentProject?.frontmatter.imagenes;
const name = currentProject?.frontmatter.name;

console.log("Imágenes:", imagenes);
console.log("Nombre:", name);
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" />
    <title>{title}</title>      
    <ViewTransitions />
</head>
<body>
    <Navigation/>
    <img src=`.././public/projects/${name}/${imagenes}`
    alt={name}
    style="float: left; height: 200px" transition:name={name}/>
    <slot/>
</body>
</html>